@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    font-family: "Courgette", cursive;
}

body {
    background-color: black;

}

.card {
    width: 70%;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

.card-header {
    padding: 20px;
}

.card-img {
    width: 40%;
}

.card-apple {
    width: 25px;
}

.card-p {
    text-align: center;
    width: 80%;
    font-family: "Courgette", cursive;
}